*{
    margin:10px;
    padding:10px;
    box-sizing: border-box;
}

.padre{
    display: flex;
    flex-flow: column nowrap;
}

    .header{
        background: #000;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: #495371;
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
        }
            .logo{
                background: #74959A;
                flex: 1 1 auto;
                height: 50px;
            }
            .nav{
                background: #74959A;
                flex: 5 1 auto;
                height: 50px;
            }
            .social{
                background: #74959A;
                flex: 1 1 auto;
                height: 50px;
            }
        .texto-principal{
            background: #98B4AA;
        }
            h1{
                background: #F1E0AC;
            }

    .section{
        background: #000;
        display: flex;
    }
        .articulos{
            background: #515E63;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                background: #C36839;
                flex: 1 1 40%;
            }
            .navegacion{
                background: #F5A962;
                flex: 1 1 100%;
            }
        .aside{
            background: #57837B;
            flex: 1 1 auto;
        }
            .publicidad{
                background: #86340A;
            }
        
    .footer{
        background: #000;
        display: flex;
        justify-content: center;
    }
        .pie{
            background: #E8D0B3;
            width: 300px;
        }

@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}

@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}